.DS_Store
.idea
.vscode
.wechaty/
__pycache__/
venv*
*.pyc
config.json
QR.png
nohup.out
tmp
plugins.json
itchat.pkl
*.log
user_datas.pkl
chatgpt_tool_hub/
plugins/**/
!plugins/bdunit
!plugins/dungeon
!plugins/finish
!plugins/godcmd
!plugins/tool
!plugins/banwords
!plugins/banwords/**/
!plugins/hello
!plugins/role
!plugins/keyword