openai==0.27.2
HTMLParser>=0.0.2
PyQRCode>=1.2.1
qrcode>=7.4.2
requests>=2.28.2
chardet>=5.1.0

# chatgpt-tool-hub plugin
--extra-index-url https://pypi.python.org/simple
chatgpt_tool_hub>=0.3.9

timeout_decorator
--extra-index-url https://pypi.python.org/simple
replicate>=0.7.0

lxml==4.9.2
pre-commit
webdriver_manager
selenium>=3.13.0

Pillow
pre-commit

