altgraph==0.10.2
asn1crypto==0.24.0
atomicwrites==1.2.1
attrs==18.2.0
bdist-mpkg==0.5.0
bonjour-py==0.3
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
class-registry==2.1.2
click==6.7
cryptography==2.3.1
enum34==1.1.6
filters==1.3.2
Flask==0.12.2
funcsigs==1.0.2
idna==2.6
ipaddress==1.0.22
itsdangerous==0.24
Jinja2==2.10
lxml==4.2.5
macholib==1.5.1
MarkupSafe==1.0
matplotlib==1.3.1
modulegraph==0.10.4
more-itertools==4.3.0
numpy==1.8.0rc1
pathlib2==2.3.2
pdfminer==20140328
Pillow==5.1.0
pluggy==0.8.0
ply==3.11
py==1.7.0
py2app==0.7.3
py2casefold==1.0.1
pyasn1==0.4.2
pycparser==2.19
pycrypto==2.6.1
pygame==1.9.3
pyobjc-core==2.5.1
pyobjc-framework-Accounts==2.5.1
pyobjc-framework-AddressBook==2.5.1
pyobjc-framework-AppleScriptKit==2.5.1
pyobjc-framework-AppleScriptObjC==2.5.1
pyobjc-framework-Automator==2.5.1
pyobjc-framework-CFNetwork==2.5.1
pyobjc-framework-Cocoa==2.5.1
pyobjc-framework-Collaboration==2.5.1
pyobjc-framework-CoreData==2.5.1
pyobjc-framework-CoreLocation==2.5.1
pyobjc-framework-CoreText==2.5.1
pyobjc-framework-DictionaryServices==2.5.1
pyobjc-framework-EventKit==2.5.1
pyobjc-framework-ExceptionHandling==2.5.1
pyobjc-framework-FSEvents==2.5.1
pyobjc-framework-InputMethodKit==2.5.1
pyobjc-framework-InstallerPlugins==2.5.1
pyobjc-framework-InstantMessage==2.5.1
pyobjc-framework-LatentSemanticMapping==2.5.1
pyobjc-framework-LaunchServices==2.5.1
pyobjc-framework-Message==2.5.1
pyobjc-framework-OpenDirectory==2.5.1
pyobjc-framework-PreferencePanes==2.5.1
pyobjc-framework-PubSub==2.5.1
pyobjc-framework-QTKit==2.5.1
pyobjc-framework-Quartz==2.5.1
pyobjc-framework-ScreenSaver==2.5.1
pyobjc-framework-ScriptingBridge==2.5.1
pyobjc-framework-SearchKit==2.5.1
pyobjc-framework-ServiceManagement==2.5.1
pyobjc-framework-Social==2.5.1
pyobjc-framework-SyncServices==2.5.1
pyobjc-framework-SystemConfiguration==2.5.1
pyobjc-framework-WebKit==2.5.1
pyOpenSSL==18.0.0
PyOTA==2.0.6
pyparsing==2.0.1
pysha3==1.0.2
python-dateutil==1.5
python-docx==0.8.7
pytz==2013.7
qrcode==6.1
regex==2018.8.29
reportlab==3.4.0
requests==2.18.4
rsa==3.4.2
scandir==1.9.0
scipy==0.13.0b1
selenium==3.14.0
six==1.11.0
threadpool==1.3.2
transitions==0.6.8
typing==3.6.6
urllib3==1.22
virtualenv==16.0.0
Werkzeug==0.14.1
xattr==0.6.4
zope.interface==4.1.1
