{
  "start":{
    "host" : "127.0.0.1",
    "port" : 7860
  },
  "defaults": {
    "params": {
      "sampler_name": "DPM++ 2M Karras",
      "steps": 20,
      "width": 512,
      "height": 512,
      "cfg_scale": 7,
      "prompt":"masterpiece, best quality",
      "negative_prompt": "(low quality, worst quality:1.4),(bad_prompt:0.8), (monochrome:1.1), (greyscale)",
      "enable_hr": false,
      "hr_scale": 2,
      "hr_upscaler": "Latent",
      "hr_second_pass_steps": 15,
      "denoising_strength": 0.7
    },
    "options": {
      "sd_model_checkpoint": "perfectWorld_v2Baked"
    }
  },
  "rules": [
    {
      "keywords": [
        "横版",
        "壁纸"
      ],
      "params": {
        "width": 640,
        "height": 384
      },
      "desc": "分辨率会变成640x384"
    },
    {
      "keywords": [
        "竖版"
      ],
      "params": {
        "width": 384,
        "height": 640
      }
    },
    {
      "keywords": [
        "高清"
      ],
      "params": {
        "enable_hr": true,
        "hr_scale": 1.6
      },
      "desc": "出图分辨率长宽都会提高1.6倍"
    },
    {
      "keywords": [
        "二次元"
      ],
      "params": {
        "negative_prompt": "(low quality, worst quality:1.4),(bad_prompt:0.8), (monochrome:1.1), (greyscale)",
        "prompt": "masterpiece, best quality"
      },
      "options": {
        "sd_model_checkpoint": "meinamix_meinaV8"
      },
      "desc": "使用二次元风格模型出图"
    }
  ]
}