{
    "group_app_map": {
        "测试群名1": "default",
        "测试群名2": "Kv2fXJcH"
    },
    "midjourney": {
        "enabled": true,
        "auto_translate": true,
        "img_proxy": true,
        "max_tasks": 3,
        "max_tasks_per_user": 1,
        "use_image_create_prefix": true
    },
    "summary": {
        "enabled": true,
        "group_enabled": true,
        "max_file_size": 5000,
        "type": ["FILE", "SHARING", "IMAGE"]
    }
}
