[
    {
        "app_name": "xxx",
        "app_type": "chatbot",
        "api_base": "xxx",
        "api_key": "xxx",
        "use_on_single_chat": true,
        "group_name_list": [
            "测试群1",
        ]
    }
]